<ion-tabs>
    <ion-tab-bar slot="bottom" color="warning">
      <ion-tab-button>
        <div id="logo">
          <img id="img" src="assets/2.png" />
        </div>
        <ion-label class="nav__text">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <div id="logo">
          <img id="img" src="assets/1.png" />
        </div>
        <ion-label class="nav__text">Services</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <div id="logo">
          <img id="img" src="assets/3.png" />
        </div>
        <ion-label class="nav__text">Appointment</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <div id="logo">
          <img id="img" src="assets/bars.png" />
        </div>
        <ion-label class="nav__text">Metrics</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>