<ngx-loading *ngIf="isLoading | async" [show]="true"> </ngx-loading>
<ion-header>
  <ion-toolbar>
    <ion-title><i class="fas fa-bars bars"></i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll>
    <div class="container">
      <h3>Comprar servicio</h3>
    </div>

    <form id="main_form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

      <div class="main__input">
        <label for="seguro" class="text_input">Selecciona un paquete</label>
      </div>
      <div id="seguro" class="main_select">
        <select name="idServicio" [(ngModel)]="transBank.idServicio" #idServicio="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && idServicio.invalid }" required autocomplete="off"
          (change)="getServiceById($event.target.value)">
          <option class="option" value="">Elija una opción</option>
          <option class="option" *ngFor="let service of listServices" value="{{service.id}}">{{ service.nombre }}
          </option>

        </select>
      </div>

      <div class="main__input">
        <label class="text_input">Descripción</label>
        <input class="input" name="valor" [(ngModel)]="transBank.valor" #valor="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && valor.invalid }" autocomplete="off" disabled />
      </div>
      <div class="main__input">
        <label class="text_input">Valor</label>
        <input class="input" name="descripcion" [(ngModel)]="transBank.descripcion" #descripcion="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && descripcion.invalid }" autocomplete="off" disabled />
      </div>
      <div class="main__input">
        <label class="text_input">Fecha inicio</label>
        <input type="date" class="input" name="fechainicio" [(ngModel)]="transBank.fechainicio" #fechainicio="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && fechainicio.invalid }" required autocomplete="off" />
      </div>
      <div class="main__input">
        <label class="text_input">Fecha Fin</label>
        <input type="date" class="input" name="fechafin" [(ngModel)]="transBank.fechafin" #fechafin="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && fechafin.invalid }" required autocomplete="off" />
      </div>

      <div class="buttons">
        <button class="btn" type="submit">Pagar</button>
      </div>
    </form>
  </ion-infinite-scroll>
</ion-content>