<ion-header>
  <ion-toolbar>
    <ion-title><i class="fas fa-bars bars"></i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h3>Registro</h3>
    <p>Te haremos unas breves preguntas para que tú experiencia sea la más adecuada.</p>
  </div>

  <div class="progress">
    <div class="num ">
      <span>1</span>
    </div>
    <span class="line"></span>
    <div class="num active">
      <span>2</span>
    </div>
    <span class="line"></span>
    <div class="num">
      <span>3</span>
    </div>
  </div>

  <form id="main_form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="main__input">
      <label for="trabajo" class="text_input">¿En qué trabaja?</label>
      <input class="input" type="text" name="trabajo" [(ngModel)]="user.trabajo" #trabajo="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && trabajo.invalid }" required autocomplete="off" />
    </div>
    <div class="main__input">
      <label for="turno" class="text_input">Turno de trabajo</label>
    </div>
    <div class="main_checkbox" id="turno">
      <div class="round">
        <input type="radio" id="checkbox1" value="Diurno" name="horario" [(ngModel)]="user.horario" #horario="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && horario.invalid }" required autocomplete="off" />
        <label for="checkbox1">Diurno</label>
      </div>
      <div class="round">
        <input type="radio" id="checkbox2" value="Nocturno" name="horario" [(ngModel)]="user.horario" #horario="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && horario.invalid }" required autocomplete="off" />
        <label for="checkbox2">Nocturno</label>
      </div>
      <div class="round">
        <input type="radio" id="checkbox3" value="Día / noche" name="horario" [(ngModel)]="user.horario"
          #horario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && horario.invalid }" required autocomplete="off" />
        <label for="checkbox3">Día / noche</label>
      </div>
    </div>
    <div class="main__input">
      <label for="seguro" class="text_input">¿Qué seguro medico tiene?</label>
    </div>
    <div id="seguro" class="main_select">
      <select name="seguro" [(ngModel)]="user.seguro" #seguro="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && seguro.invalid }" required autocomplete="off">
        <option class="option" value="1">Elija una opción</option>
        <option class="option" value="2">Sanitas</option>
        <option class="option" value="3">Sura</option>
      </select>
    </div>
    <div class="main__input">
      <label for="seguro" class="text_input">¿Fue diagnosticado con?</label>
    </div>
    <div id="diagnostico" class="main_select">
      <select name="diagnostico" [(ngModel)]="user.diagnostico" #diagnostico="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && diagnostico.invalid }" required autocomplete="off">
        <option class="option" value="1">Elija una opción</option>
        <option class="option" value="2">Cáncer</option>
        <option class="option" value="3">Enfermedad terminal</option>
      </select>
    </div>
    <div class="main__input">
      <label for="turno" class="text_input">Usa medicamentos para la diabetes</label>
    </div>
    <div class="main_checkbox" id="turno">
      <div class="round">
        <input type="radio" id="si" value="true" name="medicamentosdiab" [(ngModel)]="user.medicamentosdiab"
          #medicamentosdiab="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medicamentosdiab.invalid }" required
          autocomplete="off" />
        <label for="si">Si</label>
      </div>
      <div class="round">
        <input type="radio" id="no" value="false" name="medicamentosdiab" [(ngModel)]="user.medicamentosdiab"
          #medicamentosdiab="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medicamentosdiab.invalid }" required
          autocomplete="off" />
        <label for="no">No</label>
      </div>
    </div>
    <div class="main__input">
      <label for="turno" class="text_input">Usa insulina para su tratamineto de la diabetes</label>
    </div>
    <div class="main_checkbox" id="turno">
      <div class="round">
        <input type="radio" id="siInsulinadiab" value="true" name="insulinadiab" [(ngModel)]="user.insulinadiab"
          #insulinadiab="ngModel" [ngClass]="{ 'is-invalid': f.submitted && insulinadiab.invalid }" required
          autocomplete="off" />
        <label for="siInsulinadiab">Si</label>
      </div>
      <div class="round">
        <input type="radio" id="noInsulinadiab" value="false" name="insulinadiab" [(ngModel)]="user.insulinadiab"
          #insulinadiab="ngModel" [ngClass]="{ 'is-invalid': f.submitted && insulinadiab.invalid }" required
          autocomplete="off" />
        <label for="noInsulinadiab">No</label>
      </div>
    </div>
    <div class="buttons">
      <button class="btn" type="submit">Finalizar registro</button>
    </div>
  </form>
</ion-content>