ion-content{
  
  --background: #fbfbfb;
  ion-infinite-scroll{
    .main{
      width: 90%;
      margin: auto;
    }
    .title-x{
      display: flex;
      justify-content: space-between;
      color: #000;
      margin-top: 1em;

    }
    .title-x .text-x{
      vertical-align: middle;
      color: #000;
      font-weight: bold;
    }
    .title-x .img-x{
      vertical-align: middle;
      margin-top: 0.8em;
      margin-right: 1.5em;
    }
    .text{
      width: 96%;
      margin: auto;
      color: #000;
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .card{
      width: 100%;
      background: rgb(255, 255, 255);
      border-radius: 1em;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: 2px solid #aaaaaa;
      padding: 1em;
    }
    .card__title{
      text-align: center;
      color: #000;
      font-size: 1.2em;
    }
    .left-session{
      width: 90%;
      margin: auto;
      display: flex;
      flex-flow: column wrap;
     
    }
    .left-session-item{
      color: #000;
      font-weight: bold;
      font-size: 0.8em;

    }
    .line{
      width: 30%;
      height: 2px;
      background: rgb(199, 199, 199);
      margin-top: -0.5em;
      margin-bottom: -0.5em;
    }
    .select-session{
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 1em;
      padding: 1em;
      border: 2px solid #aaaaaa;
      margin-top: 1em;
    }
     .active{
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      background: rgb(47, 47, 47);
      align-items: center;
      border-radius: 1em;
      padding: 1em;
      border: 2px solid rgb(47, 47, 47);

    }
    .p-session{
      color: #000;
      font-weight: bold;
      font-size: 1.2em;
    }
    .active .p-session{
      color: #fff;
      font-weight: bold;
      font-size: 1.2em;
    }
    .active .p2-session{
      color: rgb(207, 207, 207);
      font-size: .8rem;
      letter-spacing: 1px;
      margin-top: 3px;

    }
    .p2-session{
      margin-top: 3px;
      color: #000;
      font-size: .8rem;
      letter-spacing: 1px;
    }
  }
}