<ngx-loading *ngIf="isLoading | async" [show]="true"> </ngx-loading>
<ion-header>
  <!-- <ion-toolbar>
		<ion-title><i class="fas fa-bars bars"></i></ion-title>
	</ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-infinite-scroll>
    <div class="main">
      <div class="title-x">
        <h1 class="text-x">Nueva cita</h1>
        <img class="img-x" src="assets/x.svg" />
      </div>
      <p class="text">Basado en su plan</p>
      <div class="card">

        <h3 class="card__title">Seleccione su sesión</h3>
        <div class="left-session">
          <p class="left-session-item">Your sessions</p>
          <span class="line"></span>
          <!--<p class="left-session-item">Duración: 1hr</p>-->
        </div>
        <div class="select-session " *ngFor="let specialty of listSpecialtys" (click)="getCalendarDoctor(specialty)">
          <span class="p-session">sesión con {{ specialty }}</span>
          <span class="p2-session">5 sessions remaining with doctor</span>
        </div>
      </div>
      <!--  <div class="card">
        <h3 class="card__title">Selecciona tu fecha</h3>
        <div class="date">
          <p class="mes-año">Nov 2021</p>
          <div class="arrows">
            <img class="arrow-img" src="assets/arrow-left.svg" />
            <img class="arrow-img" src="assets/arrow-right.svg" />
          </div>
        </div>
        <div class="calendario">
          <ion-calendar [(ngModel)]="date" (onChange)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'">
          </ion-calendar>
        </div>
        <div class="btn-date">
          <button class="button">Confirma tu fecha</button>
        </div>
      </div>
      <div class="card">
        <h3 class="card__title">Selecciona tu hora</h3>
        <div class="buttons">
          <button class="button-time active2">12:00</button>
          <button class="button-time">13:00</button>
          <button class="button-time">14:00</button>
          <button class="button-time">15:00</button>
          <button class="button-time">16:00</button>
          <button class="button-red">Reserve su cita</button>

        </div>
      </div>-->
      <form id="main_form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
        <div class="main__input">
          <label for="seguro" class="text_input">Selecciona fecha a agendar</label>
        </div>
        <div class="main_select">
          <select name="idCalendario" [(ngModel)]="shedule.idCalendario" #idCalendario="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && idCalendario.invalid }" required autocomplete="off">
            <option value="">Seleccione...</option>
            <option *ngFor="let calendarDoctor of listCalendarDoctor" value="{{calendarDoctor.id}}">
              Fecha inical {{ calendarDoctor.fechaIni }} - Fecha final {{ calendarDoctor.fechaFin }}
            </option>
          </select>
        </div>
        <div class="buttons">
          <button class="btn" type="submit">Agendar</button>
        </div>
      </form>
      <br />
    </div>


    <!-- <div class="container">
			<h3>Agendar cita</h3>
		</div> -->

    <!-- <form id="main_form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="main__input">
        <label for="seguro" class="text_input">Selecciona el médico</label>
      </div>
      <div class="main_select">
        <select name="id_doctor" [(ngModel)]="shedule.id_doctor" #id_doctor="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && id_doctor.invalid }" required autocomplete="off"
          (change)="getCalendarDoctor($event.target.value)">
          <option value="">Seleccione...</option>
          <option *ngFor="let specialty of listSpecialtys" value="{{specialty}}">{{ specialty }}</option>
        </select>
      </div>
      <div class="main__input">
        <label for="seguro" class="text_input">Selecciona fecha a agendar</label>
      </div>
      <div class="main_select">
        <select name="idCalendario" [(ngModel)]="shedule.idCalendario" #idCalendario="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && idCalendario.invalid }" required autocomplete="off">
          <option value="">Seleccione...</option>
          <option *ngFor="let calendarDoctor of listCalendarDoctor" value="{{calendarDoctor.id}}">
            Fecha inical {{ calendarDoctor.fechaIni }} - Fecha final {{ calendarDoctor.fechaFin }}
          </option>
        </select>
      </div>
      <div class="buttons">
        <button class="btn" type="submit">Agendar</button>
      </div>
    </form>
    -->
  </ion-infinite-scroll>
</ion-content>