<ion-header>
	<!--ion-toolbar>
    <ion-title><i class="fas fa-bars bars"></i></ion-title>
  </ion-toolbar-->
</ion-header>

<ion-content>
	<ion-infinite-scroll>
		<div class="main">
			<div class="text">
				<p>Buenos Días, Diana!</p>
			</div>
			<div class="image">
				<img src="assets/c1@4x.png" />
			</div>
		</div>
		<div class="connect__device"></div>
		<h3>gSense Medición</h3>
		<div class="connect__green">
			<span></span>
			<p>Conectado</p>
			<p class="settings">Ajustes</p>
		</div>
		<div class="main__bg">
			<div class="bg__gray">
				<div class="bg__text">Última medición a las 7:05 am</div>
				<div class="bg__text upper">125 mg/dL</div>
				<div class="bg__text">Octubre 26, 2021</div>
			</div>
		</div>
		<div class="info">
			<h3>Actividades por la mañana</h3>
			<div class="edit"><span>Editar</span></div>
		</div>

		<div class="main_circles">
			<span class="circle active"></span>
			<span class="line">-</span>
			<span class="circle"></span>
			<span class="line">-</span>
			<span class="circle"></span>
		</div>
		<div class="main__text">
			<div class="text1">
				<p>Mide el nivel de glucosa</p>
			</div>
			<div class="text2">
				<p>Toma la medición</p>
			</div>
			<div class="text3">
				<p>Ten un buen desayuno</p>
			</div>
		</div>
		<div class="info">
			<h3>Para la tarde</h3>
			<div class="edit2"><span>Editar</span></div>
		</div>

		<div class="space">
			<div class="main_circles">
				<span class="circle active"></span>
				<span class="line">-</span>
				<span class="circle"></span>
				<span class="line">-</span>
				<span class="circle"></span>
			</div>
			<div class="main__text">
				<div class="text1">
					<p>Mide el nivel de glucosa</p>
				</div>
				<div class="text2">
					<p>Come frutas</p>
				</div>
				<div class="text3">
					<p>Hacer ejercicio</p>
				</div>
			</div>
		</div>
	</ion-infinite-scroll>
</ion-content>
