<ion-header> </ion-header>

<ion-content>
	<ion-infinite-scroll>
		<div class="main">
			<div class="text">
				<p>Buenos Días, Diana!</p>
			</div>
			<div class="image">
				<img src="assets/c1@4x.png" />
			</div>
		</div>
		<div class="connect__device"></div>
		<h3>gSense Medición</h3>
		<div class="connect__green">
			<span></span>
			<p>Conectado</p>
			<p class="settings">Ajustes</p>
		</div>
		<div class="main__bg">
			<div class="bg__gray">
				<div class="bg__text">Última medición a las 7:05 am</div>
				<div class="bg__text upper">125 mg/dL</div>
				<div class="bg__text">Octubre 26, 2021</div>
			</div>
		</div>
		<div class="info">
			<h3>Actividades por la mañana</h3>
			<div class="edit"><span>Editar</span></div>
		</div>

		<div class="main_circles">
			<span class="circle active"></span>
			<span class="line">-</span>
			<span class="circle"></span>
			<span class="line">-</span>
			<span class="circle"></span>
		</div>
		<div class="main__text">
			<div class="text1">
				<p>Mide el nivel de glucosa</p>
			</div>
			<div class="text2">
				<p>Toma la medición</p>
			</div>
			<div class="text3">
				<p>Ten un buen desayuno</p>
			</div>
		</div>
		<div class="info">
			<h3>Para la tarde</h3>
			<div class="edit2"><span>Editar</span></div>
		</div>

		<div class="space">
			<div class="main_circles">
				<span class="circle active"></span>
				<span class="line">-</span>
				<span class="circle"></span>
				<span class="line">-</span>
				<span class="circle"></span>
			</div>
			<div class="main__text">
				<div class="text1">
					<p>Mide el nivel de glucosa</p>
				</div>
				<div class="text2">
					<p>Come frutas</p>
				</div>
				<div class="text3">
					<p>Hacer ejercicio</p>
				</div>
			</div>
		</div>
	</ion-infinite-scroll>
	<div class="flex">
		<div class="menu">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-home"
				color="#000"
				routerLink="/home"
			>
				<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
				<polyline points="9 22 9 12 15 12 15 22"></polyline>
			</svg>
			<label for="img">Inicio</label>
		</div>
		<div class="menu">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-message-square"
				color="#000"
				routerLink="/schedule"
			>
				<path
					d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
				></path>
			</svg>
			<label for="img">Asesoramiento</label>
		</div>
		<div class="menu">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-monitor"
				color="#000"
				routerLink="/asesora"
			>
				<rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
				<line x1="8" y1="21" x2="16" y2="21"></line>
				<line x1="12" y1="17" x2="12" y2="21"></line>
			</svg>
			<label for="img">Cita</label>
		</div>
		<div class="menu">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-bar-chart-2"
				color="#000"
				routerLink="/food"
			>
				<line x1="18" y1="20" x2="18" y2="10"></line>
				<line x1="12" y1="20" x2="12" y2="4"></line>
				<line x1="6" y1="20" x2="6" y2="14"></line>
			</svg>
			<label for="img">Metrics</label>
		</div>
	</div>
</ion-content>
