ion-content{
    --background: #fbfbfb;


    .main{
        width: 92%;
        margin: auto;
    }
    .title{
        width: 40%;
        color: rgb(49, 49, 49);
        font-weight: bold;
        margin-right: 7.5em;
        margin-top: 0.8em;
    }

}