<ion-content>
	<div class="main">
		<h1 class="title">Comidas</h1>
		<form class="form-image">
			<h2>Cargar por imagen</h2>
			<label for="avatar">Selecciona tu comida</label>

			<input
				type="file"
				id="avatar"
				name="avatar"
				accept="image/png, image/jpeg"
			/>
			<button class="btn">Agregar</button>
		</form>
		<form action="" class="form">
			<h2>Cargar datos por comida caloricos</h2>

			<div class="form-item">
				<label for="comida">Ingresa tu comida</label>
				<input
					type="text"
					id="comida"
					name="comida"
					placeholder="Comida"
				/>
			</div>
			<div class="form-item">
				<label for="calorias">Ingresar calorias</label>
				<input
					type="text"
					id="calorias"
					name="calorias"
					placeholder="Calorias"
				/>
			</div>
			<button class="btn">Agregar</button>
		</form>
		<!-- <div class="images">
			<img class="img" src="assets/d2@4x.png" />
			<img class="img" src="assets/d1@4x.png" />
			<img class="img" src="assets/d3@4x.png" />
			<div class="text-img-bold">Desayuno</div>
			<div class="text-img">150 calorias</div>
		</div> -->
	</div>
</ion-content>
