<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">home</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/schedule">citas</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/reg-device">device</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/transbank">transbank</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="logo">
    <img id="img" src="assets/logonutrix.jpeg" />
  </div>

  <span id="text">Sing in</span>
  <div class="btn__login">
    <button class="btn__google" (click)="loginGoogle()">
      <i class="fab fa-google-plus-g x1"></i>
    </button>
    <button class="btn__micro"><i class="fab fa-windows x2"> </i></button>
  </div>
</ion-content>
