* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

ion-toolbar {
  --background: #fbfbfb;
  text-transform: initial;
}

ion-content {
  --background: #fbfbfb;

  #logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #img {
    width: 152px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
  }

  #text {
    margin-top: 40px;
    display: inline-block;
    color: #a3a1a1;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .btn__login {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    margin-top: 20px;
  }

  .btn__google {
    text-transform: capitalize;
    width: 80%;

    margin: auto;
    margin-top: 20px;
    width: 80%;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .btn__micro {
    text-transform: capitalize;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    background: #e44d26;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f16529, #e44d26);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f16529, #e44d26);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .x1,
  .x2 {
    color: rgb(255, 255, 255);
  }

  .or {
    margin-top: 40px;
    display: inline-block;
    color: #a3a1a1;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  #main__form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .input {
    width: 80%;
    background: transparent !important;
    padding: 12px 0px;
    background: #ffffff;
    border: 1px solid rgba(206, 206, 206, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    color: #000;
    margin-top: 20px;
  }

  .input:hover {
    border: 1px solid rgba(231, 49, 34, 0.5);
  }

  .buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .buttons .btn {
    text-transform: uppercase;
    margin-top: 20px;
    width: 80%;
    padding: 18px 20px;
    border-radius: 50px;
    background: #e73122;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .register {
    margin-top: 20px;
    color: #000;
    background: #fbfbfb;
    font-weight: bold;
    width: 80%;
  }

  .click {
    color: #e73122;
    font-weight: bold;
  }

  @media screen and (min-width: 505px) {
    .input {
      width: 45%;
    }

    .btn__google {
      width: 55%;
    }

    .btn__micro {
      width: 55%;
    }

    .buttons .btn {
      width: 55%;
    }

    .register {
      margin-top: 15px;
    }
  }

  @media screen and (min-width: 660px) {
    .input {
      width: 45%;
    }

    .btn__google {
      width: 45%;
    }

    .btn__micro {
      width: 45%;
    }

    .buttons .btn {
      width: 45%;
    }

    .register {
      margin-top: 25px;
    }
  }

  @media screen and (min-width: 820px) {
    .input {
        width: 80%;
        background: transparent !important;
        padding: 12px 0px;
        background: #FFFFFF;
        border: 1px solid rgba(206, 206, 206, 0.5);
        box-sizing: border-box;
        border-radius: 10px;
        color: #000;
        margin-top: 20px;
        padding-left: 12px;
        font-size: 14px;
        color: #757575;
    }

    .btn__google {
      width: 35%;
    }

    ::placeholder {
        padding-left: 8px;
        color: #757575;
    }

    .buttons {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .buttons .btn {
        text-transform: uppercase;
        margin-top: 30px;
        width: 80%;
        padding: 18px 20px;
        border-radius: 50px;
        background: #E73122;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .register {
        margin-top: 30px;
        color: #757575;
        background: #fbfbfb;
        font-weight: normal;
        width: 80%;
        font-size: 14px;

    }
  }

    .click {
        color: #E73122;
        font-weight: bold;
        font-size: 14px;

    }

    .btn__google {
      width: 25%;
    }

    .btn__micro {
      width: 25%;
    }

    .buttons .btn {
      width: 10%;
    }

    .register {
      margin-top: 50px;
    }
  }

