<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="logo">
    <img id="img" src="assets/logonutrix.jpeg" />
  </div>
  <span id="text">Sing in</span>
  <div class="btn__login">
    <button class="btn__google"><i class="fab fa-google-plus-g x1"></i> Continue with Google</button>
    <button class="btn__micro"><i class="fab fa-windows x2"> </i> Continue with Microsoft</button>
  </div>
  <span class="or">Or</span>
  <form id="main__form">
    <input shape="round" class="input" type="email " placeholder="Email" />
    <input shape="round" class="input" type="password" placeholder="Password" />

  </form>
  <div class="buttons">
    <button class="btn" routerLink="/home">Login</button>
    <button class="register">You have not registered?? <span class="click">Click Here</span></button>
  </div>
</ion-content>