<ion-menu side="start" menuId="first" contentId="principal">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-buttons slot="start"></ion-buttons>
			<ion-buttons slot="end">
				<ion-button routerLink="/signup">Sign up</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button routerLink="/home">Home</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button routerLink="/schedule">Citas</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button routerLink="/reg-device">Devi</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button routerLink="/transbank">Tras</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button routerLink="/asesora">Acceso</ion-button>
			</ion-buttons>
		</ion-list>
	</ion-content>
</ion-menu>
