<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <img class="image" src="assets/logonutrix.jpeg" />
  </div>
  <h3>Crea tu cuenta</h3>
  <ion-label class="text_registro">Ingresa tus datos para que puedas disfrutar de todos los beneficios que traemos para
    ti. </ion-label>
  <form id="form">
    <div class="main__input">
      <label for="nombre" class="text_input">Nombre y Apellido</label>
      <input class="input" id="nombre" type="text" required />
    </div>
    <div class="main__input">
      <label for="nombre" class="text_input">Correo Electrónico</label>
      <input class="input" id="nombre" type="email" required />
    </div>
    <div class="main__input">
      <label for="nombre" class="text_input">Télefono</label>
      <input class="input" id="nombre" type="tel" required />
    </div>
  </form>
  <div class="buttons">
    <button class="btn">Registrarme</button>
    <button class="register" routerLink="/register-one">¿Ya tienes una cuenta?<span class="click"> Click Aquí</span></button>
  </div>
</ion-content>