<ion-header>
	<!--ion-toolbar>
    <ion-title><i class="fas fa-bars bars"></i></ion-title>
  </ion-toolbar-->
</ion-header>

<ion-content>
	<ion-infinite-scroll>
		<h1 class="title">Asesoramiento</h1>
		<div class="btn-up">
			<span class="chat">Chat</span>
			<span class="btn-active">Servicios</span>
		</div>
		<div class="main">
			<div class="main__bg" routerLink="/schedule">
				<div class="bg__gray">
					<img src="assets/arrow-up-right.svg" />
					<div class="text-cita">Nueva cita</div>
				</div>
			</div>
			<div class="main__bg">
				<div class="bg__gray">
					<img src="assets/phone-incoming.svg" />

					<div class="text-cita">Cita actual</div>
				</div>
			</div>
			<div class="main__bg">
				<div class="bg__gray">
					<img src="assets/archive.svg" />

					<div class="text-cita">Historial</div>
				</div>
			</div>
		</div>

		<div class="main__bg_espe">
			<div class="bg__gray">
				<div class="bg__text">
					Tu plan renuévate incluye el número de pruebas que puedes
					realizar visitando uno de nuestros laboratorios. Obtiene
					consultas de nuestros médicos para pruebas de laboratorio
					específicas.
					<div class="buttons">
						<button class="btn" type="submit">
							Haz una prueba de laboratorio
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="info">
			<h3>Reservar una cita</h3>
		</div>

		<div class="main_cita" *ngFor="let specialty of listSpecialtys">
			<div class="main__bg" [routerLink]="['/schedule']" [queryParams]="{ specialty: specialty}">
				<div class="bg__gray">
					<div class="bg__text_espe">{{ specialty }}</div>
					<div class="bg__text">Cuatro visitas disponibles</div>
					<div class="image">
						<img src="assets/dbtes.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div class="flex">
			<div class="menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="feather feather-home"
					color="#000"
					routerLink="/home"
				>
					<path
						d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
					></path>
					<polyline points="9 22 9 12 15 12 15 22"></polyline>
				</svg>
				<label for="img">Inicio</label>
			</div>
			<div class="menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="feather feather-message-square"
					color="#000"
					routerLink="/schedule"
				>
					<path
						d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
					></path>
				</svg>
				<label for="img">Asesoramiento</label>
			</div>
			<div class="menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="feather feather-monitor"
					color="#000"
					routerLink="/asesora"
				>
					<rect
						x="2"
						y="3"
						width="20"
						height="14"
						rx="2"
						ry="2"
					></rect>
					<line x1="8" y1="21" x2="16" y2="21"></line>
					<line x1="12" y1="17" x2="12" y2="21"></line>
				</svg>
				<label routerLink="/asesora" for="img">Cita</label>
			</div>

			<div class="menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="feather feather-bar-chart-2"
					color="#000"
					routerLink="/food"
					id="img"
				>
					<line x1="18" y1="20" x2="18" y2="10"></line>
					<line x1="12" y1="20" x2="12" y2="4"></line>
					<line x1="6" y1="20" x2="6" y2="14"></line>
				</svg>
				<label routerLink="/food" for="img">Metrics</label>
			</div>
		</div>
	</ion-infinite-scroll>
</ion-content>
