* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.text{
  width: 96%;
  margin: auto;
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
}
.title-x{
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-top: 1em;
  margin: auto;

}
.title-x .text-x{
  vertical-align: middle;
  color: #000;
  font-weight: bold;
}
.title-x .img-x{
  vertical-align: middle;
  margin-top: 0.8em;
  margin-right: 1.5em;
}

ion-toolbar {
  --background: #d8d8d8;
  text-transform: initial;
  color: rgb(255, 255, 255);
  height: 100%;

  .bars {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
}

ion-content {
  --background: #fbfbfb;
  height: 100%;
  .title{
    text-align: center;
    color: #000;
    font-weight: bold;
  }
  .btn-up{
    width:  45%;
    margin: 1em auto;
    background: rgb(233, 231, 231);
    color: #000;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.1em;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffffff;

  }
  .chat{
    width:  49%;
    text-align: center;
    display: block;
    border-radius: 0.5em;
    font-size: 0.8rem;
    padding: 0.3em;

  }
  .btn-active{
    width:  50%;
    text-align: center;
    display: block;
    background: #fff;
    border-radius: 0.5em;
    font-size: 0.8rem;
    padding: 0.3em;

  }
 

  .main {
    display: flex;
    width: 90%;
    margin: 15px auto;
    justify-content: space-between;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    color: aliceblue;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  .main_cita {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
 


  
  h3 {
    width: 90%;
    margin: 8px auto;
    color: #000;
    font-weight: bold;
    font-size: 15px;
  }

  .connect__green {
    display: flex;
    width: 88%;
    margin: 6px auto;
  }
  .connect__device a {
    display: flex;
    width: 88%;
    margin: 1px auto;
    color: #000000;
    font-size: 13px;
    text-decoration: underline;
  }

  .connect__green span {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #55be93;
    border-radius: 50%;
    margin-top: 4px;
  }

  .space {
    margin-bottom: 10px;
  }

  .connect__green .settings {
    position: absolute;
    right: 20px;
    top: 162px;
    color: #2e2e2e;
    text-decoration: underline;
    font-size: 13px;
  }

  .connect__green p {
    color: #a0a0a0;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
  }

  .main__bg {
    width: 100%;
    margin: auto;

  }
  .citas{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 1em;
    border: 0.01rem solid #dfdfdfbe;
  }
  .text__item{
    margin: auto;
    display: flex;
    flex-direction: column;
  }
 
  .text__item p{
    font-size: 0.8rem;
    color: #000;
    padding: 0.2em;

  }
  #par{
    font-size: 1em;
    width: 60%;
    margin-bottom: 1em;
  }
  .image {
    width: 50%;
  }
  .image img{
    border-radius: 0.5em;
  }
  .main__bg_espe {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .bg__gray {
    width: 90%;
    margin: auto;
    padding: 2em 0;
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
    background: #fff;
    margin: 15px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
  .cita__item{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 1em;
    margin-bottom: -0.27rem;
  }
  .text-cita{
    text-align: center;
    color: #000;
    margin-top: 1em;

  }
  .bg__text {
    width: 80%;
    text-align: justify;
    margin-top: 1em;
    color: #000;
  }
  .bg__text_espe {
    margin: 5px 0px;
    color: #000000;
  }

  .btn {
    
    margin-top: 1em !important;
    width: 100%;
    margin: auto;
    padding: 1em;
    background: #222222;
    border-radius: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
  }
  .upper {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
  }

  .edit {
    margin-top: 10px;

    color: #5e5e5e;
    text-decoration: underline;
    font-size: 13px;
  }

  .main_circles {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px 50px;
  }

  .main_circles .circle {
    width: 11px;
    height: 11px;
    background: #d8d8d8;
    border-radius: 50%;
  }

  .main_circles .active {
    background: #5e5e5e;
  }

  .main_circles .line {
    border: 1px solid #d8d8d8;
    width: 1px;
    height: 50px;
    margin-left: 4.5px;
    font-weight: bold;
  }

  .main__text {
    position: relative;
    width: 100%;
    height: 10%;
    color: rgb(0, 0, 0);
  }

  .text1 {
    position: absolute;
    width: 272px;
    height: 32px;
    left: 80px;
    top: -148px;
    color: #757575;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
  }

  .text2 {
    position: absolute;
    width: 272px;
    height: 32px;
    left: 80px;
    top: -96px;
    color: #757575;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
  }

  .text3 {
    position: absolute;
    width: 272px;
    height: 32px;
    left: 80px;
    top: -40px;
    color: #757575;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
  }

  .edit2 {
    margin-top: 10px;
    color: #5e5e5e;
    text-decoration: underline;
    font-size: 13px;
  }

  .info {
    display: flex;
    width: 90%;
    flex-direction: row;
  }
}
